<ul style="list-style-type:none">
  {% for item in include.collection %}
    <li>
    {% if item.heading == true %}
    <h2>
    {% endif %}
    {% if item.url != false %}
      <a href="{{ item.url }}">{{ item.title }}</a>
    {% else %}
      {{ item.title }}
    {% endif %}
    {% if item.heading == true %}
    </h2>
    {% endif %}
    {% if item.bodytext == true %}
    <br />
    <br />
    {% endif %}
    </li>

    {% if item.bodytext != false %}
    <li class="bodytext">{{item.bodytext}}<br /><br /></li>
    {% endif %}

    {% if item.post_list == true %}
      {% include post_list.html %}
    {% endif %}

    {% if item.post_list_featured == true %}
      {% include post_list_category.html category="featured" %}
    {% endif %}

    {% if item.post_list_projects == true %}
      {% include post_list_category.html category="projects" %}
    {% endif %}


    {% if item.entries != blank %}
      {% include menu_item.html collection=item.entries %}
    {% endif %}
  {% endfor %}
</ul>
